<!DOCTYPE html>

<html>
<head>
    <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
{{>header}}
<p>This site was created by Utkarsh Sanadhya. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="/img/henna.jpg">
    </div>
    
    {{>footer}}
</body>
</head>
</html>